body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(136, 100, 236), #a43c8d);
    color: #333;
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(120deg, #1d2229, #6fbfe7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.task-input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    width: 70%;
}

.add-btn {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency to match gradient */
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task {
    flex-grow: 1;
    word-break: break-word;
    color: #333;
}

.edit-btn, .save-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.edit-btn {
    background-color: #f0ad4e;
    margin-right: 5px;
}

.save-btn {
    background-color: #007bff;
    margin-right: 5px;
}

.delete-btn {
    background-color: #d9534f;
}

.cancel-btn {
    background-color: #6c757d;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}
